
.activity-card {
    background: #fff;
    border: 1px solid #f0ebe5;
    position: relative;
    overflow: hidden;
    transition: all 0.35s ease;
    cursor: pointer;
    padding: 60px 30px 20px 30px
}

/* Hover Effect */
.activity-card:hover {
    transform: translateY(-8px);

    /* border-color: rgba(100, 117, 110, 0.35); */

    /* background: rgba(255, 255, 255, 0.08); */

    box-shadow:
        /* 0 20px 40px rgba(174, 254, 227, 0.12), */
        0 10px 30px rgba(0, 0, 0, 0.25);
}

/* Gradient Glow */
.activity-card::before {
    content: "";

    position: absolute;
    inset: 0;
    background:
        linear-gradient(135deg,
            rgba(247, 178, 178, 0.08),
            transparent 60%);

    opacity: 0;
    transition: opacity 0.35s ease;
}

.activity-card:hover::before {
    opacity: 1;
}

/* Badge */
.activity-card span {
    font-size: 9px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    /* color: #a0a0a0; */
    margin-bottom: 1.2rem;
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #e8e6e1;
    width: 100%;
}

/* Title */
.activity-card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
    /* color: #111; */
    margin-bottom: 1rem;
    line-height: 1.2;
}

/* Description */
.activity-card p {
    font-family: 'Lato', serif;
    font-size: 14px;
    /* color: #444444; */
    color: black;
    line-height: 1.8;
    margin: 2rem 0;
    text-align: justify;
}


.activity-card .card-arrow {
    font-size: 20px;
    transition: all 0.3s ease;
    /* color: #090909; */
    color: #ccc;
    display: inline-block;
    
}

.activity-card:hover .card-arrow {
    color: #000000;
    transform: translateX(6px);
}


/* Mobile Responsive */

@media(max-width:768px) {

    .activity-card {
        padding: 22px;
        border-radius: 20px;
    }

    .activity-card h3 {
        font-size: 20px;
    }

}